body{
  margin: 0%;
  padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #252A30;
  overflow: hidden;
  position:fixed;
  top:0pt;
  width: 100%;
  display:block;
  text-align: center;
  
}

/* Style the links inside the navigation bar */
.topnav a{
  float: right;
  color: white;
  text-align: center;
  padding:21px;
  display: block;
  text-decoration: none;
  font-size: 27px;
  margin-right: 70px;
  
 }

.topnav a.home{
  float:left;
  color: white;
  text-align: center;
  padding: 19px 17px;
  text-decoration: none;
  font-size: 30px;
  margin-left: 99px;
  font-family: 'Lobster', cursive;
 
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color:rgb(197, 185, 13);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  text-decoration: underline ;
}

.content{
  /*background-image: url('background3.jpg');
  background-repeat: no-repeat;*/
height:650px;
width:100%;
background-color: black;

display: flex;
overflow:hidden;
padding-top: 106px;
flex-wrap: wrap;
justify-content: center;

}


.box1{
  height:470px;
  width:584px;
 /*background-color: red;*/
  display:flex;
  color:white;
  margin-left: 18px;
  padding:10px;
  /*letter-spacing: 3px;*/
  margin-top: 35px;
  margin-right: 77px;
  

}


.name .text{
  font-size:52px;
    font-weight: 600;
    margin-left: -3px;
    padding-left:6px;
    word-spacing: 5px;
    
}
.about{
  font-size: 18px;
  text-align: justify;
  padding-top:8px;
  margin:5px;
  /*font-family:Dongle,cursive;*/
}
.links {
  border:none;
 
  text-decoration: none;
  padding-top: 12px;
 color:yellow;
 margin-left: 16px;
margin-top: 19px;
}
button.Skills{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 84px;
  padding-left: 84px;
  
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  display:inline-block;
  border: 5px solid red;
  border-radius: 40px;
}
button a{
  text-decoration: none;
  color: black;
  
  
}
button.Hobbies{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 39px;
  padding-left: 39px;
  /*background-color: aqua;*/
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  display:inline-block;
  border: 5px solid red ;
  border-radius: 40px;
  margin-right: 37px;
}
button:hover{
  background-color: aqua;
}
.box2{
  float:right;
 /* background-color: green;*/
  margin-top: 35px;
  width: 387px;
height:411px;
background-image: url("myphoto-removebg-preview.jpg");
background-size: cover;
background-repeat: no-repeat;

}
@media( max-width:1086px){
  .box2{
    height: 348px;
width: 338px;
  }
  .box2{
    height: 354px;
  }
}
@media(max-width:1036px){
  .content{
    height: 785px;
  }
  .box1{
    margin-top: -8px;
  }
  .box2{
    margin-top: -125px;
  }
}
@media(max-width:859px){
  .content{
    height:818px;
  }
  .box1{
    margin-top: 49px;
  }
}


@media (max-width:914px){
  .box2{margin-top: -85px;
    height: 262px;
    width: 216px;}
  }
  @media (max-width:976px){
    .box2{  width: 278px;
      height: 334px;
      margin-top: -86px;
    }}

    @media(max-width:662px){
      .box2{
        margin-top: -30px;
      }
      .links{
        margin-right: 2px;
        margin-left: 158px;
        justify-content: center;
      }
      }
      @media( max-width:653px){
        .content{
          height: 928px;
        }
        .name .text{
          font-size: 49px;
        }
      }

      @media(max-width:589px){
        .name .text{
          font-size: 40px;
        
        }
        .links{
          margin-top: 45px;
        }
      }
      @media(max-width:563px){
        .box1{
          margin-left: 38px;
          margin-right: 41px;
        }
        .links{
          margin-left: 107px;
        }
        button .hobbies{
          padding-left: 37px;
          padding-right: 37px;
        
        }
      }
      @media(max-width:488px){
       .name .text{font-size: 32px;}
       .links{
        margin-left: 67px;
       }
       button .hobbies{
        padding-left: 30px;
        padding-right: 38px;
      
       }
       button .skills{
        padding-left: 76px;
        padding-right: 80px;
      
       }
      }
      @media(max-width:419px){
        .content{
          margin-top: 133px;
          
        }
        .box1{
          margin-top: 62px;
        }
       .box1 .name .text{
          margin-left: 43px;
          font-size: 25px;
        }
        .box1 .about{
          font-size: 13px;
        }
       button .hobbies{
          padding-right: 36px;
          padding-left: 36px;}
         button .Skills{
          padding-right: 59px;
          padding-left: 59px;
         }
        
        
      }   
      @media(max-width:300px){
      .box1{
        width: 200px;
        margin-top: 45px;
      }
      .name{
        width: 197.133px;
      }
      .box1 .name .text
      {
        margin-left: -1px;
        font-size: 14px;
        word-spacing: 11px;
      }
      .name .about{
        font-size: 11px;
      }
    .links{
      margin-left: 34px;
      width: 166.133px;
    }
   .links button .Hobbies {
      font-size: 15px;
      padding-left: 11px;
padding-right: 11px;
    }
   .links button .Skills{
      padding-left: 35px;
padding-right: 35px;
font-size: 15px;
    }
  }
  @media(max-width:390px){
   .links button .Hobbies{
    font-size: 25px;
    padding-left: 55px;
padding-right: 56px;
margin-right: 19px;

    
    }
    .links{
      margin-left: 24px;
      margin-right: 8px;
    
    }
    .box1 .about {
      font-size: 13px;
    }
    .box1 .name .text {
      margin-left: -3px;
      font-size: 23px;
  }
}

  

      
      
        
      
      
    
    
